<section id="reviews" class="rewiews">
<div class="container reviews-container">
    <h2><span>R</span>eviews</h2>
    <div class="cards-wrapper">
    <div class="review-card"> 
        <div class="image-container">
             <img class="picture-reviews" src="../img/revievs/photo01.jpg" alt="Фото користувача"> </div> 
             <div class="review-content"> 
                <h3 class="reviewer-name">Max T, Strategy Enthusiast</h3> 
                <div class="star-rating"> <span>★★★★★</span> </div> 
                <p class="review-text">"Best tower defense game I've played this year! Tons of upgrades and fun heroes."</p> 
            </div>
        </div>
        <div class="review-card"> 
        <div class="image-container">
             <img class="picture-reviews" src="../img/revievs/photo02.jpg" alt="Фото користувача"> </div> 
             <div class="review-content"> 
                <h3 class="reviewer-name">Max T, Strategy Enthusiast</h3> 
                <div class="star-rating"> <span>★★★★★</span> </div> 
                <p class="review-text">"Best tower defense game I've played this year! Tons of upgrades and fun heroes."</p> 
            </div>
        </div>
        <div class="review-card"> 
        <div class="image-container">
             <img class="picture-reviews" src="../img/revievs/photo03.jpg" alt="Фото користувача"> </div> 
             <div class="review-content"> 
                <h3 class="reviewer-name">Max T, Strategy Enthusiast</h3> 
                <div class="star-rating"> <span>★★★★★</span> </div> 
                <p class="review-text">"Best tower defense game I've played this year! Tons of upgrades and fun heroes."</p> 
            </div>
        </div>
        <div class="review-card"> 
        <div class="image-container">
             <img class="picture-reviews" src="../img/revievs/photo04.jpg" alt="Фото користувача"> </div> 
             <div class="review-content"> 
                <h3 class="reviewer-name">Max T, Strategy Enthusiast</h3> 
                <div class="star-rating"> <span>★★★★★</span> </div> 
                <p class="review-text">"Best tower defense game I've played this year! Tons of upgrades and fun heroes."</p> 
            </div>
        </div>
        <div class="review-card"> 
        <div class="image-container">
             <img class="picture-reviews" src="../img/revievs/photo05.jpg" alt="Фото користувача"> </div> 
             <div class="review-content"> 
                <h3 class="reviewer-name">Max T, Strategy Enthusiast</h3> 
                <div class="star-rating"> <span>★★★★★</span> </div> 
                <p class="review-text">"Best tower defense game I've played this year! Tons of upgrades and fun heroes."</p> 
            </div>
        </div>
        </div>
        <div class="navigation-container" >
        <button class="buttom-right" title="Previous Slide">
          <svg id="icon-swiper-left" width="30" height="35">
            <use href="../img/sprite.svg#icon-swiper-left"></use>
          </svg>
        </button>
        <button class="buttom-left" title="Next Slide">
          <svg id="icon-swiper-right" width="30" height="35">
            <use href="../img/sprite.svg#icon-swiper-right"></use>
          </svg>
        </button>
      </div>
</div>
</section>