<section id="reviews" class="rewiews">
<div class="container reviews-container">
    <h2><span>R</span>eviews</h2>
    <div class="image-container"> <img class="picture-reviews" src="../img/revievs/photo05.jpg" alt="Фото користувача"> </div> <div class="review-content"> <h3 class="reviewer-name">Max T, Strategy Enthusiast</h3> <div class="star-rating"> <span>★★★★★</span> </div> <p class="review-text">"Best tower defense game I've played this year! Tons of upgrades and fun heroes."</p> </div> </div>
</div>
</section>