<section id="user-feedback" class="swiper-testimonials">
  <div class="swiper-container">
    <h2><span>R</span>eviews</h2>
    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-review-card">
          <div class="swiper-image-container">
            <img
              class="swiper-picture-reviews"
              src="../img/revievs/photo01.jpg"
              alt="Фото користувача"
            />
          </div>
          <div class="swiper-review-content">
            <h3 class="swiper-reviewer-name">Max T, Strategy Enthusiast</h3>
            <div class="swiper-star-rating"><span>★★★★★</span></div>
            <p class="swiper-review-text">
              "Best tower defense game I've played this year! Tons of upgrades
              and fun heroes."
            </p>
          </div>
        </div>
        <div class="swiper-slide swiper-review-card">
          <div class="swiper-image-container">
            <img
              class="swiper-picture-reviews"
              src="../img/revievs/photo02.jpg"
              alt="Фото користувача"
            />
          </div>
          <div class="swiper-review-content">
            <h3 class="swiper-reviewer-name">Max T, Strategy Enthusiast</h3>
            <div class="swiper-star-rating"><span>★★★★★</span></div>
            <p class="swiper-review-text">
              "Best tower defense game I've played this year! Tons of upgrades
              and fun heroes."
            </p>
          </div>
        </div>
        <div class="swiper-slide swiper-review-card">
          <div class="swiper-image-container">
            <img
              class="swiper-picture-reviews"
              src="../img/revievs/photo03.jpg"
              alt="Фото користувача"
            />
          </div>
          <div class="swiper-review-content">
            <h3 class="swiper-reviewer-name">Max T, Strategy Enthusiast</h3>
            <div class="swiper-star-rating"><span>★★★★★</span></div>
            <p class="swiper-review-text">
              "Best tower defense game I've played this year! Tons of upgrades
              and fun heroes."
            </p>
          </div>
        </div>
         <div class="swiper-slide swiper-review-card">
          <div class="swiper-image-container">
            <img
              class="swiper-picture-reviews"
              src="../img/revievs/photo04.jpg"
              alt="Фото користувача"
            />
          </div>
          <div class="swiper-review-content">
            <h3 class="swiper-reviewer-name">Max T, Strategy Enthusiast</h3>
            <div class="swiper-star-rating"><span>★★★★★</span></div>
            <p class="swiper-review-text">
              "Best tower defense game I've played this year! Tons of upgrades
              and fun heroes."
            </p>
          </div>
        </div>
         <div class="swiper-slide swiper-review-card">
          <div class="swiper-image-container">
            <img
              class="swiper-picture-reviews"
              src="../img/revievs/photo05.jpg"
              alt="Фото користувача"
            />
          </div>
          <div class="swiper-review-content">
            <h3 class="swiper-reviewer-name">Max T, Strategy Enthusiast</h3>
            <div class="swiper-star-rating"><span>★★★★★</span></div>
            <p class="swiper-review-text">
              "Best tower defense game I've played this year! Tons of upgrades
              and fun heroes."
            </p>
          </div>
        </div>
        <!-- Додай решту карток -->
      </div>
      <div class="swiper-button-prev">
        
      </div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
