.swiper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 320px;
  height: auto;
  background: url(../img/);
}

.swiper-wrapper {
  display: flex;
}

.swiper-review-card {
  overflow: hidden;
  max-width: 280px;
  display: flex;
  width: 280px;
  height: 338px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: visible;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.swiper-picture-reviews {
  display: block;
  width: 130px;
  height: 130px;
object-fit: cover;
  position: absolute;
  left: 100%;
  top: -83px;
  transform: translateX(-50%);
  border-radius: 100%;
  border: rgba(0, 36, 52, 0.8);
}

.swiper-image-container {
  display: flex;
  flex-direction: row;
  width: 130px;
  height: 40%;
  overflow: hidden;
}

.swiper-image-container img {
  width: 130px;
  height: 130px;
}

.swiper-review-content {
  padding: 10px;
}

.swiper-reviewer-name {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
}

.swiper-star-rating {
  text-align: center;
  color: gold;
  margin: 5px 0;
}

.swiper-review-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  align-items: center;
}

/* **Мобільна версія 320px** */
@media (max-width: 768px) {
  .swiper-slide {
    width: 100%;
    justify-content: center;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
}

/* **1200px - три картки, кнопки по боках** */
@media (min-width: 1200px) {
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
