

.reviews-section {
  padding-top: 0;
  padding-bottom: 0;
}


.swiper-testimonials {
  width: 320px;
  height: 632px;
  margin: 0 auto;
  background: url(/img/heroUpdateTree/Title-mob.png), url(../img/revievs/bg.png);
  background-repeat: no-repeat, no-repeat;
  background-size: auto;
}
.swiper-star-rating {
  display: flex;
  flex-direction: row;
  gap: 4px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.swiper-container {
  width: 320px;
  height: auto;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgba(0, 36, 52, 0.8);
}
.reviews-wrapper {
  padding-top: 16px;
}

.reviews-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: #fff;
  text-align: center;
  padding-top: 22px;
  margin-bottom: 44px;
}


.reviews-span {
  font-family: 'Bangers', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.1;
  color: #fff;
}

.swiper-review-card {
  width: 280px;
  position: relative;
  padding-top: 83px;
}

.swiper-image-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.swiper-picture-reviews {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  box-shadow: 0 0 15px 10px #0674a4;
}

.swiper-review-content {
  padding: 100px 24px 24px 24px;
  height: 247px;
  background: #002434;
  text-align: center;
  position: relative;
}

.swiper-review-content::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 1px solid #fdb115;
  pointer-events: none;
}

.swiper-reviewer-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  text-align: center;
  margin-bottom: 8px;
}
.swiper-star-rating {
  margin-bottom: 8px;
}
.swiper-review-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  text-align: start;
  margin-bottom: 50px;
  width: 240px;
}

.reviews-arrows {
  display: flex;
  gap: 34px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 24px;
}

.reviews-arrows-next,
.reviews-arrows-prev {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  opacity: 1;
  cursor: pointer;
  margin-bottom: 24px;
}
.reviews-arrows-icon:active {
  fill: #39b4f7;
  stroke-width: 1px;
  stroke: #376deb;
}

.reviews-arrows-icon {
  fill: #39b4f7;
stroke-width: 1px;
stroke: #376deb;
}
.swiper-slide-revievs {
  background: rgba(0, 36, 52, 0.8);
}
@media (min-width: 1200px) {
  
  div.swiper {
    width: 888px;
  }

  .swiper-testimonials {
    width: 1200px;
    height: 882px;
    margin: 0 auto;
    background: url(/img/heroUpdateTree/Title-desk.png),
      url(../img/revievs/bg.png);
    background-repeat: no-repeat, no-repeat;
    background-size: auto;
    background-position: top 50px left 0px, center;
  }

  .swiper-review-card {
    width: 280px !important;
  }
  .swiper-review-content {
    width: 280px;
    height: 255px;
  }

  .swiper-container {
    width: 1200px;
    height: auto;
    padding: 16px;
    position: relative;
  }
  .reviews-title {

     font-weight: 400;
font-size: 36px;
      color: #fff;
      text-align: center;
      margin-bottom: 135px;
      padding-top: 26px;
    }
    .reviews-span {
      font-family: "Bangers";
font-weight: 400;
font-size: 48px;
line-height: 110%;
    }


  .swiper-reviews-content {
    padding: 100px 24px 24px 24px;
width: 272px;
height: 247px;
    display: flex;
    gap: 24px;
  }
  .reviews-arrows {
    position: absolute;
    gap: 936px;
    top: 50%;
    left: 0px;
    width: 100%;
    margin: 0;
    z-index: 10;
  }
}
