.reviews-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
    width: 320px;
    height: auto;
    background: url(../img/);
    
}
.cards-wrapper{
  display: flex;
  flex-direction: row;
    justify-content: center; /* Центрує картки */
    gap: 24px; /* Відстань між картками */
}

.review-card {
  overflow: hidden;
  // flex-direction: row;
  max-width: 280px;
  display: flex;
  width: 280px;
  height: 338px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: visible;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.picture-reviews{
    display: block;
     width: 130px;
  height: 130px;
  position: absolute;
  left: 50%;
  top: -83px;
  transform: translateX(-50%); /* Центрує по горизонталі */
  border-radius: 100%;
  border: rgba(0, 36, 52, 0.8);
}
.image-container {
  display: flex;
  flex-direction: row;
  width: 130px;
  height: 40%;
  overflow: hidden;
}

.image-container img {
  width: 130px;
  height: 130px;
}

.review-content {
  padding: 10px;
}

.reviewer-name {
  text-align: center;
 font-weight: 400;
font-size: 16px;
line-height: 1.4;
color: #fff;
}

.star-rating {
  text-align: center;
  color: gold;
  margin: 5px 0;
}

.review-text {
font-weight: 400;
font-size: 16px;
line-height: 1.4;
color: #fff;
align-items: center;
}
.reviews-title{
    margin-bottom: 37px;
}
.navigation-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}